{% extends 'base.html' %} {% block content %}
<div class="fill-height">
  <div class="row">
    <div class="col-lg-1"></div>
    <div id="hello" class="col-lg-10" style="text-align: center">
      <h1>SEND<span style="color: #f97300">IT</span></h1>
      <p>Delivering Packages Since 2021</p>
      <button class="btn btn-secondary btn-large">Sign Up</button>
      <button class="btn btn-secondary btn-large btn-outline">Sign In</button>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

{% endblock %}
