{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SendIT</title>
</head>
<body>
    <select class="form-select" aria-label="Default select example">
        <option selected>Select parcel size</option>
        <option value="small">Small: less than 1kg </option>
        <option value="medium">Medium: 1kg to 3kg</option>
        <option value="large">Large: 3kg to 10kg</option>
        <option value="extra-large">Extra-large: greater than 10kg</option>
      </select>
</body>
</html>